{% extends "base.html" %}

{% block title %}Temporal Analysis - Natural Events Dashboard{% endblock %}

{% block content %}
<main class="main-content">
    <div class="container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header">
            <h1><i class="fas fa-clock"></i> Temporal Analysis</h1>
            <p class="lead">Temporal analysis of data</p>
        </div>



        <!-- Charts -->
        <div class="row">
            <!-- Missing Percentage Chart -->
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <i class="fas fa-chart-bar"></i> Temporal distribution chart by event type
                        <button class="btn btn-sm btn-light" onclick="reloadChart(
                            '/api/temporal_analysis/temporal_distribution',
                            'temporalDistributionChart',
                            'loading-temporal'
                            )" title="Reload chart">
                            <i class="fas fa-sync-alt"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <!-- Loading spinner -->
                        <div id="loading-temporal" class="loading">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="loading-text">Loading temporal distribution...</div>
                        </div>
                        <!-- Chart container -->
                        <div id="temporalDistributionChart" class="chart-container" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>
        {% for event_type in event_types %}
        <div class="row">
            <!-- Missing Percentage Chart -->
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <i class="fas fa-chart-bar"></i> Monthly distribution Heatmap - {{ event_type }}
                        <button class="btn btn-sm btn-light" onclick="reloadChartEventType('{{ eventType }}')" title="Reload chart">
                            <i class="fas fa-sync-alt"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <div id="loading-{{ event_type }}" class="loading">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="loading-text">Loading {{ event_type }} heatmap...</div>
                        </div>
                        <div id="heatmap-{{ event_type }}" class="chart-container" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <!-- Missing Percentage Chart -->
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <i class="fas fa-chart-bar"></i> Seasonal distribution chart by event type
                        <button class="btn btn-sm btn-light" onclick="reloadChart(
                            '/api/temporal_analysis/seasonality',
                            'seasonalDistributionChart',
                            'loading-seasonal'
                            )" title="Reload chart">
                            <i class="fas fa-sync-alt"></i>
                        </button>

                    </div>
                    <div class="card-body">
                        <!-- Loading spinner -->
                        <div id="loading-seasonal" class="loading">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="loading-text">Loading temporal distribution...</div>
                        </div>
                        <!-- Chart container -->
                        <div id="seasonalDistributionChart" class="chart-container" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Heatmap -->

    </div>
</main>
{% endblock %}

{% block extra_js %}
<script>
    const eventTypes = {{ event_types|tojson }};

    eventTypes.forEach(eventType => {
        const url = `/api/temporal_analysis/monthly_distribution/${eventType}`;
        const containerId = `heatmap-${eventType}`;
        const loadingId = `loading-${eventType}`;

        loadChart(url, containerId, loadingId);
    });
    // Carica il grafico percentuali
    loadChart(
        '/api/temporal_analysis/temporal_distribution',
        'temporalDistributionChart',
        'loading-temporal'
    );

    loadChart(
        '/api/temporal_analysis/seasonality',
        'seasonalDistributionChart',
        'loading-seasonal'
    );

    function reloadChartEventType(event_type) {
        const url = `/api/temporal_analysis/monthly_distribution/${event_type}`;
        const containerId = `heatmap-${event_type}`;
        const loadingId = `loading-${event_type}`;
        reloadChart(url, containerId, loadingId);
    }



</script>
{% endblock %}